@charset "UTF-8";
/* nanum-gothic-regular - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum-gothic-v13-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic'),
       url('../fonts/nanum-gothic-v13-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v13-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v13-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v13-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v13-latin_korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nanum-gothic-v13-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
       url('../fonts/nanum-gothic-v13-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v13-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v13-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v13-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v13-latin_korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-800 - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nanum-gothic-v13-latin_korean-800.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
       url('../fonts/nanum-gothic-v13-latin_korean-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v13-latin_korean-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v13-latin_korean-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v13-latin_korean-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v13-latin_korean-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}


html,body{margin:0;padding:0}
html{font-size: 10px;font-family: 'Nanum Gothic';}



h1,h2,h3,h4,h5,h6,h7,h8 {
    margin: 0;
    padding: 0;
}

h2{font-size: 5.667rem;color: #00a2ff;border-bottom: 3px solid #00a2ff;padding: 1em .8em .3em .8em;margin-bottom: 2rem;}

.wrap{max-width: 720px;margin: 0 auto;overflow: hidden;position: relative;}
.bg{width: 100%;padding: 2rem;box-sizing: border-box;}
.img{width: 100%}



.wrap-date .date {
    font-size: 3.833rem;
    color: #a4a4a4;
}

.wrap-date {
    text-align: right;
}
p.txt {
    font-size: 3.833rem;
}h3>em {
    display: block;
    font-style: normal;
    font-size: 3.833rem;
    font-weight: 500;
}

.wrap-date .date {
    font-size: 3.833rem;
    color: #a4a4a4;
}

.wrap-date {
    text-align: right;
}

h3 {
    font-style: normal;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.wrap-tag span {
    font-size: 3.833rem;
    font-weight: bold;
}p.txt {
    font-size: 3.833rem;
}h3>em {
    display: block;
    font-style: normal;
    font-size: 3.833rem;
    font-weight: 500;
}

.wrap-date .date {
    font-size: 3.833rem;
    color: #a4a4a4;
}

.wrap-date {
    text-align: right;
}

h3 {
    font-style: normal;
    font-size: 4rem;
    font-weight: bold;
}
.wrap-tag span {
    font-size: 3.833rem;
    font-weight: bold;
}p.txt {
    font-size: 3.833rem;
}h3>em {
    display: block;
    font-style: normal;
    font-size: 3.833rem;
    font-weight: 500;
}

.wrap-date .date {
    font-size: 3.833rem;
    color: #a4a4a4;
}

.wrap-date {
    text-align: right;
}

h3 {
    font-style: normal;
    font-size: 4rem;
    font-weight: bold;
}

.btn-s {
    position: fixed;
    bottom: 10rem;
    display: block;
    width: 100%;
    max-width: 720px;
    text-align: center;
    text-decoration: none;
    background: #00a2ff;
    font-size:  5.417rem;
    color: #fff;
    padding: 2rem;
    box-sizing: border-box;
}
.btn-s.down:before{
  content:"";
  display:inline-block;
  background:url(../img/down_app_btn.png);
  background-size: 72px auto;
  width: 72px;
  height: 72px;
  vertical-align: middle;
  margin: -.5rem .5rem 0 0;
}
.btn-s.more:after{
  content:"";
  display:inline-block;
  background:url(../img/btn_back.png);
  background-size: 56px auto;
  width: 56px;
  height: 69px;
  vertical-align: middle;
  margin: -.5rem .5rem 0 0;
}
.contents {




}

.txt-a {
    font-size: 4.417rem;
    padding: 0 3rem;
    text-align: center;
    margin: 3rem 0 2rem 0;
}
@media only screen and (max-width: 720px) {
  html{font-size:6px}
  .btn-s.down:before{background-size:36px auto;width:36px;height:36px}
  .btn-s.more:after{background-size:28px auto;width:28px;height:35px}
}
@media only screen and (max-width: 520px) {
  html{font-size:4px}
  .btn-s.down:before{background-size:24px auto;width:24px;height:24px}
  .btn-s.more:after{background-size:19px auto;width:19px;height:23px}
}